<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />

<script src="js/include.js"></script>

<style type="text/css">
.mi-title {
	background-color: #474240;
}

.mi-black {
	color: white;
	background: #474240;
	outline: none;
	border: #474240 1px solid;
	-moz-border-radius: 3px; /* Gecko browsers */
	-webkit-border-radius: 3px; /* Webkit browsers */
	border-radius: 3px; /* W3C syntax */
}
</style>
<title>Insert title here</title>
<link>
<link href="css/star-rating.css" media="all" rel="stylesheet"
	type="text/css">
<style type="text/css">
body, html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0px auto;
}

#bottomDiv {
	position: fixed;
	height: 4em;
	background: #504c4a;
	bottom: 0px;
	width: 100%;
}

.add_sub {
	color: #1c1c1c;
	background: white;
	outline: none;
	border: 1px solid #d0d0d0;
	width: 2.5em;
	height: 2.5em;
	float: left;
}

.leftround {
	-moz-border-radius: 3px 0px 0px 3px; /* Gecko browsers */
	-webkit-border-radius: 3px 0px 0px 3px; /* Webkit browsers */
	border-radius: 3px 0px 0px 3px; /* W3C syntax */
}

.rightround {
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px; /* W3C syntax */
}

.edit_num {
	color: black;
	background: white;
	height: 2.5em;
	border-left: none;
	outline: none;
	border-right: none;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	width: 50px;
	text-align: center;
	float: left;
}

.line {
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #dddddd;
}

.am-accordion-basic .am-accordion-title:before {
	content: "";
	line-height: 1.5em;
	font-size: 1em;
}

.confirm-class {
	color: white;
	background: #e34343;
	border: #e34343 1px solid;
	width: 5em;
	height: 100%;
	line-height:2em;
	font-size:1em;
	outline: none;
	-moz-border-radius: 3px; /* Gecko browsers */
	-webkit-border-radius: 3px; /* Webkit browsers */
	border-radius: 3px; /* W3C syntax */
}

.dashed{
width:2px;
height:100%;
margin:0 0 0 0;
border: 1px dashed #aaaaaa;
}

.am-header .am-header-title {
margin: 0 15%;
}

</style>

</head>
<body id="body" class="am-with-fixed-header">

	<!-- Header -->
	<header data-am-widget="header"
		class="am-header am-header-default  am-header-fixed mi-title">
		<div class="am-header-left am-header-nav">
			<a href="javascript:mi_exit(-1);" style="text-align: left"> <i
				class="am-icon-angle-left" style="font-size: 2em;"></i>
			</a>
		</div>
		<h1 id="e_title" class="am-header-title"></h1>
	</header>

	<div class="am-g am-g-collapse" style="margin: 0em;">
		<div id="e_goodsinfo" style="font-size: 1em">
			<script id="s_goodsinfo" type="text/html">
			<div class="am-g">
				
			<a class="am-u-sm-4" href="{{tg[0].imageurl}}" style="padding:0.5em;">
				<img style="width:100%" src="{{tg[0].image}}">
			</a>
			<div class="am-u-sm-8" style="margin-top:0.5em;">
				<a style="color:#333333">{{tg[0].introduce}}</a><br><br>
				<a style="color:#e85b5b;font-size:1.1em" >单价:￥<span id="goodsprice" >{{tg[0].price}}</span></a>
				<div id="div_off" class="am-align-right am-margin-xs" style="margin-right:4em"></div>
			</div>
			</div>
		</script>
		</div>


		<div class="am-u-sm-12 line"></div>
		<div class="am-u-sm-12" align="right"
			style="font-size: 0.8em; padding-top: 1em; padding-bottom: 1em; padding-right:1em;">
			<div
				style="float: left; font-size: 1.25em; height: 2em; line-height: 2em; padding-left: 1em; color:#72777a; padding-top:0.2em;">购买数量：</div>
			<div style="float:right;padding-right: 1em;"> 
			<button class="leftround add_sub" style="height:3em;width:3em;border:1px #b0b0b0 solid;"
				onclick="javascript:Sale_Reduce('1');" >
				<img src="img/erw_14.png" style="width: 1.3em;">
			</button>
			<input class="edit_num" id="goodsnum" type="text"maxlength="3" value="0"
				onkeypress="return IsNum(event)" onchange="inputOnChange()" style="height:2.3em;font-size: 1.3em;border:1px #b0b0b0 solid;">
			<button style="height:3em;width:3em;border:1px #b0b0b0 solid;" class="rightround add_sub"
				onclick="javascript:Sale_Add('1');" >
				<img src="img/erw_11.png" style="width: 1.3em">
			</button>
		</div>
		</div>

		<div class="am-u-sm-12 line" style="margin-bottom:0.5em"></div>

		<div class="am-u-sm-12">
			<div data-am-widget="accordion" style="margin: 0.5em 0em 0.5em 0em;"
				class="am-accordion am-accordion-basic" data-am-accordion='{}' >
				<dl class="am-accordion-item">
					<dt class="am-accordion-title"
						style="color: #646464; padding: 0em; margin-left: 0.5em;" onclick = "fun2()">
						使用优惠券 <i id = "downup"  class="am-icon-angle-up" style="margin-left: 0.5em;"></i>
					</dt>
					<dd class="am-accordion-bd am-collapse ">
						<div id="e_sale" class="am-accordion-content"
							style="margin: 0em; padding: 0em;">
							<script id="s_sale" type="text/html">
			{{each sale as val i}}
			<div class="am-input-group" style="margin:0em 1em 0em 1em;border-top:1px solid #dddddd;width:92%;">
				<span class="am-input-group-label am-margin-sm" style="background-color:#FFFFFF;border:none;margin-left:0em;width:25%;float:left;">
    		    <input class="selSale" type="checkbox" onclick="payCount()" sid="{{val.saleid}}" off="{{val.off}}" rest="{{val.value}}" lx="{{val.type}}" style="float:left;width:1em;height:1em;margin-top:0.2em;margin-left:-1em;">
				{{if val.type == '1'}}
				<a style="color:#e85b5b;padding-left:0.5em;">{{val.total}}元</a>
				{{else if val.type == "2"}}
				<a style="color:#e85b5b;padding-left:0.5em;">免费券</a>
				{{else if val.type == "3"}}
				<a style="color:#e85b5b;padding-left:0.5em;">9折券</a>
				{{else if val.type == "4"}}
				<a style="color:#e85b5b;padding-left:0.5em;">8折券</a>
				{{else if val.type == "5"}}
				<a style="color:#e85b5b;padding-left:0.5em;">7折券</a>
				{{else}}
				<a style="color:#e85b5b;padding-left:0.5em;">优惠券</a>
				{{/if}}

				</span>
				<div style="border-left: 1px dashed #aaaaaa;height:3em;width:2px;margin-top:0.7em;float:left"></div> 
   		   		<span class="" style="border-style:none;float:left;padding:0.5em 1em ">
   		   			<a style="color:#72777a;font-size:1.1em;font-weight:500;">{{val.name}}</a>
   		   			<a style="color:#72777a;">{{val.sour}}</a>
   		   			<br>
					<a style="color:#aaaaaa;font-size:1.1em;">{{val.total}}{{val.unit}},剩余<span class="rest" a_rest="{{val.value}}">{{val.value.split('.')[0]}}</span>{{val.unit}}</a>
				</span>
  		  	</div>
			{{/each}}
	</script>

						</div>
					</dd>
				</dl>
			</div>

		</div>
		<!--/a-->


		<div class="am-u-sm-12 line"></div>
		<div id="e_eval" class="am-u-sm-12" style="" >
			<script id="s_eval" type="text/html">
		<div data-am-widget="accordion" style="margin:0.5em 0em 0.5em 0em;"
			 class="am-accordion am-accordion-basic" data-am-accordion='{}' >
	 	<dl class="am-accordion-item">
 		<dt  id="e_evalList" class="am-accordion-title" style="color: #646464;padding: 0em;margin-left: 0.0em;">  
		<div class="am-g" style="margin:-1em 1em 1em 1em;"  onclick = "fun1()">
		<div class="am-u-sm-4" style="color: #72777a; ">评价晒单</div>
		<div class="am-u-sm-8" style="color: #646464;" align="right">
			<span style="color: #aaaaaa">好评：{{tg[0].eve}}%&nbsp;&nbsp;
			</span><span style="color: #aaaaaa">共{{tg[0].person}}人评论</span>
			<i id = "updown" class="am-icon-angle-down" style="margin-left: 0.5em;"></i>
		</div>
		<div class="am-u-sm-12" hidden>
			<ul class="am-pagination" style="font-size:0.8em;margin-top:0.9em;margin-bottom:0.2em;float:right;">
				<li><a id="e_beval" onclick="bclick()"><</a></li>
				<li><a id="e_neval" onclick="nclick()">></a></li>
			</ul>
		</div>
	</div>
	</dt>
	<dd class="am-accordion-bd am-collapse ">
      <div class="am-accordion-content" style="padding:0em;">
		<div class="am-u-sm-12 line"></div>
		{{if eva}}
			{{each eva as val i}}
				<div class="am-g" style="padding:0.5em 0.5em 0.5em;margin:0em 1em 0em 1em;{{if eva.length != i+1}}border-bottom:1px #dddddd solid;{{/if}}">
					<div class="am-u-sm-5" >
						<div class="rating-container rating-uni" data-content="★★★★★"
							style="height: 1.5em;">
							<div style="height: 1.5em; width: {{val.starLevel}}%"
							data-content="★★★★★" class="rating-stars" >
						</div>
					</div>
				</div>
				<div class="am-u-sm-3" align="left"
					style="color: 72777a; font-size: 1em; padding-left: 0.5em; line-height: 2em; height: 2em;">
					{{val.nickname }}
				</div>
				<div class="am-u-sm-4" align="right"
					style="color: #aaaaaa; font-size: 1em; line-height: 2em; height: 2em; padding-right: 0em;float:right;">
					{{val.createtime}}
				</div>
				<div class="am-u-sm-12" style="color: #72777a; font-size: 1em;padding-right:1em;">
					{{if val.content}}
						<a style="color: #72777a;">{{val.content}}</a>
					{{else}}
						<a style="color: #72777a;">这家伙很懒什么都没有留下。</a>
					{{/if}}
				</div>
			</div>	
			
	{{/each}}
	{{else }}
		<div class=“am-g” style="text-align: center; margin-top: 2em"
			align="center">暂无评价信息</div>
	{{/if}}
	</div>
	</dd>
	</dl>
	</div>
	</script>
		</div>
		<div class="am-u-sm-12 line"></div>
		<div class="am-u-sm-12" style="height: 4em"></div>
		<div id="bottomDiv">
			<div class="am-g">
				<div class="am-u-sm-8" style="padding: 1em; color: white;line-height:2em;" >
					你需要支付<font color="#ff6060"><span id="countMoney"></span></font>元
				</div>
				<div class="am-u-sm-4" style="padding: 1em;" align="center">
					<button class="confirm-class" onclick="buy()">下单</button>
				</div>
			</div>
		</div>


	</div>


	<script type="text/javascript">
		var userid = window.localStorage.getItem('userid');
		var goodsid = getParameter("id");
        
		var saleList;
		var selectIndex = new Array();
		var saleUsing = [];
		var docid = "";
		var cardtype="";
		var evalpos = 1;

		jQuery(document).ready(function() {
			if (userid.length < 1) {
				window.location.href = "login.html";
				return;
			}
			var token = window.localStorage.getItem('token');
			$.ajax({
				type : "post",
				url : url("BuyRice.pageInfo&i="+goodsid+"&u=" + userid+"&t="+token),
				dataType : "jsonp",
				jsonp : "callback",
				jsonpCallback : "pinfo",
				success : function(data) {
					if(!checktoken(data)){
		        		return; 
		        	}
					try {

						var html = template('s_goodsinfo', data);
						$("#e_goodsinfo").html(html);
						//
						$('#e_title').text(data.tg[0].name)
						$('#div_off').html(data.ostr);

					} catch (e) {
						e.line = $line;
						console.log(e);
						throw e;
					}
				},
				error : function() {
				}
			});

			queryEval(evalpos, evalpos + 4);
			querySale();
		});

		function queryEval(s, e) {
			$.ajax({
				type : "post",
				url : url("Eval.query&i="+goodsid+"&s=" + s + "&e=" + e + ""),
				dataType : "jsonp",
				jsonp : "callback",
				jsonpCallback : "eval",
				success : function(data) {
					try {
						var html = template('s_eval', data);
						$("#e_eval").html(html);

						evalpos = e + 1;
						if (data.eva.length < 5) {
							$('#e_neval').hide();
						} else {
							$('#e_neval').show();
						}

						if (evalpos <= 6) {
							$('#e_beval').hide();
						} else {

							$('#e_beval').show();
						}

						$.AMUI.accordion.init();
						$('#e_evalList').trigger('click');

					} catch (e) {
						e.line = $line;
						console.log(e);
						throw e;
					}
				},
				error : function() {
				}
			});

		};

		function querySale() {
			var token = window.localStorage.getItem('token');
			$.ajax({
				type : "post",
				url : url("Sale.userSaleInfo&i="+goodsid+"&u=" + userid+"&t="+token),
				dataType : "jsonp",
				jsonp : "callback",
				jsonpCallback : "sale",
				success : function(data) {
					if(!checktoken(data)){
		        		return; 
		        	}
					try {
						var html = template('s_sale', data);
						$("#e_sale").html(html);
						$.AMUI.accordion.init();

					} catch (e) {
						e.line = $line;
						throw e;
					}
				},
				error : function() {
				}
			});

		};

		function bclick() {
			queryEval(evalpos - 10, evalpos - 6);
		};

		function nclick() {
			queryEval(evalpos, evalpos + 4);
		};

		function onLoadend() {
			updateCountMoney();
		}

		function Sale_Add(num) {
			var id = 'goodsnum';
			var goodsnum = document.getElementById(id);
			var value = goodsnum.value;
			if(value < 999){
			  goodsnum.value = parseInt(goodsnum.value) + parseInt(num);
			}else{
				return;
			//updateCountMoney();
			}
			payCount();
		}
		function Sale_Reduce(num) {
			var id = 'goodsnum';
			var goodsnum = document.getElementById(id);
			var value = goodsnum.value;
			if (value > 0) {
				goodsnum.value = parseInt(goodsnum.value) - parseInt(num);
			}
			//updateCountMoney();
			payCount();
		}

		function inputOnChange() {
			var id = 'goodsnum';
			var goodsnum = document.getElementById(id);
			if (!isNumber(goodsnum.value)) {
				goodsnum.value = 0;
			}else if(goodsnum.value<=999){
				goodsnum.value;
			}else{
				return;
			}
			//updateCountMoney();
			payCount();
		}

		function isNumber(oNum) {
			if (!oNum)
				return false;
			var strP = /^\-?\d+(\.\d+)?$/;
			if (!strP.test(oNum))
				return false;

			try {
				if (parseFloat(oNum) != oNum)
					return false;
			} catch (ex) {
				return false;
			}
			return true;
		}

		function payCount() {
			var price = parseFloat($('#goodsprice').text());

			var num = parseInt($('#goodsnum').val());

			var totle = price * num;

			var vipoff = 0.0;

			if ($('#e_off').text() != "") {
				vipoff = parseFloat($('#e_off').text()) / 10;
			} else {
				vipoff = 1;
			}

			$('#countMoney').text(totle);

			var sales = $('.selSale');

			for (var i = 0; i < sales.length; i++) {
				if (sales[i].checked) {
					var rest = sales[i].getAttribute('rest');
					var lx = sales[i].getAttribute('lx');

					if (lx == "2") {
						if (num <= rest) {
							$('.rest')[i].innerText = rest - num;
							totle = 0;
							num = 0;
						} else {
							$('.rest')[i].innerText = 0;
							totle = totle - rest * price;
							num = num - rest;
						}
					} else if (lx == "1") {
						if (totle <= rest) {
							$('.rest')[i].innerText = rest - totle;
							totle = 0;
						} else {
							$('.rest')[i].innerText = 0;
							totle = totle - rest;
						}
					} else {
						var off = sales[i].getAttribute('off');
						if (num <= rest) {
							
							$('.rest')[i].innerText = rest - num;
							totle = totle - (price * (1 - off)) * num;
							num = 0;
						} else {
							$('.rest')[i].innerText = 0;
							totle = totle - (price * (1 - off)) * rest;
							num = num - rest;
						}
					}
				} else {
					var rest1 = $('.rest')[i]
					.getAttribute('a_rest');
					var rest2 = parseInt(rest1);
					$('.rest')[i].innerText = rest2;
				}

			}

			var gTotle = totle * vipoff;
			var areaid = "";
			var freight = getFreight(goodsid, num, areaid);
			totle = gTotle + freight;
			$('#countMoney').text(totle.toFixed(1));

		}

		function getFreight(goodsid, num, areaid) {
			return 0;
		}

		//限制输入数字
		function IsNum(e) {
			var k = window.event ? e.keyCode : e.which;
			if (((k >= 48) && (k <= 57)) || k == 8 || k == 0) {
			} else {
				if (window.event) {
					window.event.returnValue = false;
				} else {
					e.preventDefault(); //for firefox               
				}
			}
		}

		function buy() {
			var rs = "";

			if ($('#goodsnum').val() < "1") {
				alert("请选择购买数量");
				return;
			}
			if ($('#goodsnum').val() > 999) {
				alert("单次购买数量最多为999");
				return;
			}
			rs = userid + "|" + goodsid + "|" + $('#goodsnum').val();
			var sales = $('.selSale');

			for (var i = 0; i < sales.length; i++) {
				if (sales[i].checked) {
					rs = rs + "|" + sales[i].getAttribute("sid");
				}
			}

			$.ajax({
				type : "post",
				url : url("BuyRice.tobuy&s=" + rs + ""),
				dataType : "jsonp",
				jsonp : "callback",
				jsonpCallback : "buyret",
				success : function(data) {
					window.localStorage.setItem('orderinfo.docid', data.docid);
					alert("下单完成，请支付");
					window.location.href = "payinfo.html";
				},
				error : function() {
					alert("网络错误,请稍后重新下单");
				}
			});

		}
		var tag = '0';
		function fun1(){
			if(tag == '0'){
				$('#updown').attr("class","am-icon-angle-up");
				tag = '1';
			}else if(tag == '1'){
				$('#updown').attr("class","am-icon-angle-down");
				tag = '0';
			}else{
				return;	
			}
		}
		var tag1 = '0';
		function fun2(){
			if(tag1 == '0'){
				$('#downup').attr("class","am-icon-angle-down");
				tag1 = '1';
			}else if(tag1 == '1'){
				$('#downup').attr("class","am-icon-angle-up");
				tag1 = '0';
			}else{
				return;	
			}
		}
	</script>
</body>
</html>