<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="Alipay"
    version="0.1">

    <name>Alipay</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/alipay.js" name="Alipay">
        <clobbers target="Alipay" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <!-- Cordova >= 2.8 -->
        <config-file target="config.xml" parent="/*">
            <feature name="Alipay">
                <param name="ios-package" value="Alipay" />
            </feature>
        </config-file>
        <header-file src="src/ios/Alipay.h" />
        <source-file src="src/ios/Alipay.m" />

    </platform>

    <!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
            <feature name="Alipay">
                <param name="android-package" value="com.zz.plugin.Alipay"/>
            </feature>
        </config-file>
		 <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.alipay.sdk.app.H5PayActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind"
                android:windowSoftInputMode="adjustResize|stateHidden" >
            </activity>
            <activity
                android:name="com.alipay.sdk.auth.AuthActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind" >
            </activity>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        </config-file>
		<source-file src="src/android/libs/alipaySDK-20150610.jar" target-dir="libs" framework="true" />
		<source-file src="src/android/Alipay.java" target-dir="src/com/zz/plugin/" />
	</platform>
  
</plugin>
